.courseCard {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
}
.course-card-container {
  padding-top: 30px;
  border-radius: 10px;
  padding-right: 40px;
  background-color: #ffffff;
  height: 58vh;
  display: flex;
  box-shadow: 6px 6px 6px #e8e8e8;
}
.logo-image-card {
  height: 100%;
  width: 370px;
  margin-right: 30px;
}
.name {
  font-family: 'Roboto';
  font-size: 28px;
  color: #1e293b;
  font-weight: 600;
}
.description {
  color: #475569;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}
.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.failure-head {
  font-family: 'Roboto';
  font-size: 36px;
  font-weight: 700;
  color: #1e293b;
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 10px;
}
.para {
  font-family: 'Roboto';
  font-size: 16px;
  margin: 0px;
  color: #1e293b;
}
.retry-button {
  font-family: 'Roboto';
  font-size: 13px;
  color: #ffffff;
  padding: 10px 27px 10px 27px;
  background-color: #4656a1;
  border-width: 0px;
  margin-top: 20px;
  border-radius: 4px;
}
